<div class="table-row">
  <div class="col-title">
    <input
      class="lesson_title"
      name="lesson_title[]"
      type="text"
      placeholder="Lesson title"
    />
  </div>
  <div class="col-exerpt">
    <textarea
      placeholder="Lesson exerpt"
      class="lesson_exerpt"
      name="lesson_exerpt[]"
    ></textarea>
  </div>
  <div class="col-description">
    <textarea
      placeholder="Lesson description"
      class="lesson_description"
      name="lesson_description[]"
    ></textarea>
  </div>
  <div class="col-image">Image url</div>
</div>
