<div class="module-content">
  <div onclick="openModule()" class="module-header">
    <div>
      Module 1
    </div>
    <div>
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
  <div class="module-main">
    <input
      class="module-title"
      name="module_title[]"
      type="text"
      placeholder="Module title"
      oninput="chanegTitle()"
    />
    <input
      type="hidden"
      class="number_of_items"
      name="number_of_items[]"
      value="1"
    />
    <div class="table table-test">
      <div class="table-row">
        <div class="col-question">Question</div>
        <div class="col-option">Option A</div>
        <div class="col-option">Option B</div>
        <div class="col-option">Option C</div>
        <div class="col-option">Option D</div>
        <div class="col-answer">Answer</div>
      </div>
      <div class="table-row">
        <div class="col-question">
          <input
            class="question"
            name="question[]"
            type="text"
            placeholder="Question"
          />
        </div>
        <div class="col-option">
          <input
            class="option_a"
            name="option_a[]"
            type="text"
            placeholder="Option A"
          />
        </div>
        <div class="col-option">
          <input
            class="option_b"
            name="option_b[]"
            type="text"
            placeholder="Option B"
          />
        </div>
        <div class="col-option">
          <input
            class="option_c"
            name="option_c[]"
            type="text"
            placeholder="Option C"
          />
        </div>
        <div class="col-option">
          <input
            class="option_d"
            name="option_d[]"
            type="text"
            placeholder="Option D"
          />
        </div>
        <div class="col-answer">
          <select name="answer[]" class="answer-select">
            <option value="">choose</option>
            <option value="a">a</option>
            <option value="b">b</option>
            <option value="c">c</option>
            <option value="d">d</option>
          </select>
        </div>
      </div>
    </div>
    <div class="table">
      <div class="table-row">
        <div class="col-title">Title</div>
        <div class="col-exerpt">Exerpt</div>
        <div class="col-description">Text content</div>
        <div class="col-image">Image url</div>
      </div>
      <div class="table-row">
        <div class="col-title">
          <input
            class="lesson_title"
            name="lesson_title[]"
            type="text"
            placeholder="Lesson title"
          />
        </div>
        <div class="col-exerpt">
          <textarea
            placeholder="Lesson exerpt"
            class="lesson_exerpt"
            name="lesson_exerpt[]"
          ></textarea>
        </div>
        <div class="col-description">
          <textarea
            placeholder="Lesson description"
            class="lesson_description"
            name="lesson_description[]"
          ></textarea>
        </div>
        <div class="col-image">Image url</div>
      </div>
    </div>
    <button onclick="addLesson()" id="add_lesson" class="add-lesson">
      Add lesson
    </button>
  </div>
</div>
